<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwoYearUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TwoYearUploader.Properties.Settings>
            <setting name="GPCode" serializeAs="String">
                <value>TOORT</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>LNP</value>
            </setting>
            <setting name="LocationOfEmisFile" serializeAs="String">
                <value>Click on Find to Locate File to convert</value>
            </setting>
            <setting name="ListDate" serializeAs="String">
                <value>DD.MM.YYYY</value>
            </setting>
        </TwoYearUploader.Properties.Settings>
    </userSettings>
</configuration>